PORT=8000
ENV=""

# POSTGREESQL
POSTGREESQL_URL_HOST=""
POSTGREESQL_NAME=""
POSTGREESQL_PORT=6565
POSTGREESQL_USER=""
POSTGREESQL_PASSWORD=""

# GOOGLE MAPS API KEY
GOOGLE_MAPS_API_KEY=""

# network
API_USER=http://users:4005
