PORT=4005
ENV=""

#Authorization
SECRETKEY=""

# Redis
# REDIS_HOST=redis-db
# REDIS_PORT=6379
REDIS_HOST=""
REDIS_PORT=""

#POSTGRES
POSTGREESQL_URL_HOST=""
POSTGREESQL_NAME=""
POSTGREESQL_PORT=6565
POSTGREESQL_USER=""
POSTGREESQL_PASSWORD=""

#EMAIL
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

#SUPPORT WEB
VERIFY_APP=https://
VERIFY_KEY=""

# Twilio
SID=""
AUTH_TOKEN=""
TWILIO_NUMBER=""

# FCM database
FCM_DB_URL=""

# S3
REGION_S3=""
BUCKET_NAME=""
ACCESS_KEY_S3=""
SECRET_ACCESS_KEY_S3=""